.inputt{
    color: black;
}

#pruebaxd{
    width: 100%;
}

#amos-a-ver{
    width: 90%;
}

.nav-link{
    cursor: pointer;
}

.container-1{
    width: 60%;
    margin: auto;
    border-radius: 2%;
    background: rgba(255,255,255,0.90);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.90) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.90)), color-stop(100%, rgba(255,255,255,0.90)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.90) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.90) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.90) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.90) 0%, rgba(255,255,255,0.90) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}