<div>
  <div>
    <div><br>
      <div>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Filtro">
      </div>
    </div><br>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Productos</h4>
          <p class="card-category">Productos registrados en el hotel la floresta</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-light table-striped" *ngIf='productos && productos.length'>
              <thead>
                <tr>
                  <th class="text-center" scope="col">Codigo Producto</th>
                  <th class="text-center" scope="col">Nombre </th>
                  <th class="text-center" scope="col">Tipo</th>
                  <th class="text-center" scope="col">Precio</th>
                  <th class="text-center" scope="col">Cantidad</th>
                  <th class="text-center" scope="col">Ver</th>
                  <th class="text-center" scope="col">Eliminar</th>
                  <th class="text-center" scope="col">RegVenta</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos|filtroProducto:searchText; index as i">
                  <td class="text-center">{{ producto.idProducto }} </td>
                  <td class="text-center">{{ producto.nombre }}</td>
                  <td class="text-center">{{ producto.tipo }}</td>
                  <td class="text-center">{{ producto.precio }}</td>
                  <td class="text-center">{{ producto.cantidad }}</td>
                  <td class="text-center"><i class="material-icons" (click)="openScrollableContent(longContent)"
                      (click)="consultaId(producto.idProducto)">visibility</i></td>

                  <!----------------------------------------------Modal Ver----------------------------------------------->
                  <ng-template #longContent let-modal>
                    <div class="card">
                      <div class="modal-header">
                        <div class="card-header card-header-primary" id="pruebaxd">
                          <h4 class="card-title ">Ver Producto</h4>
                          <p class="card-category">Datos del producto {{producto.idProducto}}</p>
                        </div>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="container-1">
                        <br>
                        <h5 class="text-center">Actualizar informacion | Eliminar producto</h5><br>

                        <form [formGroup]="formGroup">

                          <div class="form-group">
                            <label>Codigo Producto</label>
                            <input type="text" formControlName="idProducto" class="form-control" readonly value={{idn}}
                              [ngClass]="{ 'is-invalid':  control.idProducto.errors }" />
                            <div *ngIf=" control.idProducto.errors" class="invalid-feedback">
                              <div *ngIf="control.idProducto.errors.required">este codigo es requerido</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" value={{_nombre}}
                              [ngClass]="{ 'is-invalid':  control.nombre.errors }" />
                            <div *ngIf=" control.nombre.errors" class="invalid-feedback">
                              <div *ngIf="control.nombre.errors.required">El nombre es requerido</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label>Tipo</label>
                            <input type="text" formControlName="tipo" class="form-control" value={{_tipo}}
                              [ngClass]="{ 'is-invalid':  control.tipo.errors }" />
                            <div *ngIf=" control.tipo.errors" class="invalid-feedback">
                              <div *ngIf="control.tipo.errors.required">El tipo es requerido</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="precio">Precio</label>
                            <input type="number" name="precio" formControlName="precio" placeholder="digite su precio"
                              value={{_precio}} class="form-control" [ngClass]="{'is-invalid':control.precio.errors}" />

                            <div *ngIf="control.precio.errors" class="invalid-feedback">
                              <div *ngIf="control.precio.errors.required">El precio es requerido</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="text" name="cantidad" formControlName="cantidad" placeholder="digite la cantidad"
                              value={{_cantidad}} class="form-control" [ngClass]="{'is-invalid':control.cantidad.errors}" />

                            <div *ngIf="control.cantidad.errors" class="invalid-feedback">
                              <div *ngIf="control.cantidad.errors.required">El cantidad es requerido</div>
                            </div>
                          </div>

                          <div class="text-center">
                            <button class="btn btn-outline-dark" (click)=" openSm(content)"
                              [disabled]="formGroup.invalid">Actualizar</button>

                            <!-----------------------este modal es quien confirma la edicion------------------------>
                            <ng-template #content let-modal>
                              <div class="card">
                                <div class="modal-header">
                                  <div class="card-header card-header-primary" id="pruebaxd">
                                    <h4 class="card-title ">Modificar producto?</h4>
                                  </div>
                                  <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              </div>
                              <div class="modal-body">
                                <p>seguro que desea modificar a {{idn}}&hellip;</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)=" onSubmit()"
                                  (click)="modal.close('Close click')">Modificar</button>
                              </div>
                            </ng-template>
                            <!-----------------------este modal es quien confirma la edicion------------------------>
                          </div>
                        </form>
                      </div>
                    </div>
                  </ng-template>
                  <!--------------------------------------------Fin modal ver--------------------------------------------->
                  <td class="text-center"><i class="material-icons" (click)=" openSm(content)">how_to_vote</i></td>
                  <!--------------------------------------------Inicio opcion Compra---------------------------->
                  <ng-template #longContentt let-modal>
                    <div class="card">
                      <div class="modal-header">
                        <div class="card-header card-header-primary" id="pruebaxd">
                          <h4 class="card-title ">Ver Producto</h4>
                          <p class="card-category">Datos del producto {{producto.idProducto}}</p>
                        </div>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="container-1">
                        <br>
                        <h5 class="text-center">Comprar | producto</h5><br>

                        <form [formGroup]="formGroup">

                          <div class="form-group">
                            <label>Codigo Producto</label>
                            <input type="text" formControlName="idProducto" class="form-control" readonly value={{idn}}
                              [ngClass]="{ 'is-invalid':  control.idProducto.errors }" />
                            
                          </div>

                          <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" readonly value={{_nombre}}
                              [ngClass]="{ 'is-invalid':  control.nombre.errors }" />
                            
                          </div>

                          <div class="form-group">
                            <label>Tipo</label>
                            <input type="text" formControlName="tipo" class="form-control" readonly value={{_tipo}}
                              [ngClass]="{ 'is-invalid':  control.tipo.errors }" />
                            
                          </div>

                          <div class="form-group">
                            <label for="precio">Precio</label>
                            <input type="number" name="precio" formControlName="precio" readonly placeholder="digite su precio"
                              value={{_precio}} class="form-control" [ngClass]="{'is-invalid':control.precio.errors}" />

                            
                          </div>

                          <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input type="number" name="cantidad" formControlName="cantidad" placeholder="digite la cantidad" value={{_cantidad}}
                             class="form-control" [ngClass]="{'is-invalid':control.cantidad.errors}" />

                            <div *ngIf="control.cantidad.errors" class="invalid-feedback">
                              <div *ngIf="control.cantidad.errors.required">El cantidad es requerido</div>
                            </div>
                          </div>

                          <div class="text-center">
                            <button class="btn btn-outline-dark" (click)=" openSm(contentt)"
                              [disabled]="formGroup.invalid">Comprar</button>

                            <!-----------------------este modal es quien confirma la compra------------------------>
                            <ng-template #contentt let-modal>
                              <div class="card">
                                <div class="modal-header">
                                  <div class="card-header card-header-primary" id="pruebaxd">
                                    <h4 class="card-title ">Comprar producto?</h4>
                                  </div>
                                  <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                              </div>
                              <div class="modal-body">
                                <p>seguro que desea Comprar {{idn}}&hellip;</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)=" onCompra()"
                                  (click)="modal.close('Close click')">Comprar</button>
                              </div>
                            </ng-template>
                            <!-----------------------este modal es quien confirma la edicion------------------------>
                          </div>
                        </form>
                      </div>
                    </div>
                  </ng-template>
                  <!---------------------------------------------fin opcion--------------------------------------->
                  <td class="text-center"><i class="material-icons" (click)="openScrollableContent(longContentt)"
                      (click)="consultaId(producto.idProducto)">local_grocery_store</i></td>

                  <!-----------------------------------Modal confirmación de eliminación---------------------------------->
                  <ng-template #content let-modal>
                    <div class="card">
                      <div class="modal-header">
                        <div class="card-header card-header-primary" id="pruebaxd">
                          <h4 class="card-title ">Eliminar cliente?</h4>
                        </div>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <div class="modal-body">
                      <p>seguro que desea eliminar a {{producto.idProducto}}&hellip;</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)=" delete(producto.idProducto)"
                        (click)="modal.close('Close click')">Eliminar</button>
                    </div>
                  </ng-template>
                  <!---------------------------------------------Fin modal------------------------------------------------>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>