<div class="body">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Registro</h4>
                <p class="card-category">Formulario de registro de recepcionista</p>
            </div>
            <div class="card-body">
                <form [formGroup]="formGroup"> 

                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="text" formControlName="identificacion" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.identificacion.errors }" />
                        <div *ngIf=" control.identificacion.errors" class="invalid-feedback">
                            <div *ngIf="control.identificacion.errors.required">La Identificación es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" formControlName="nombre" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.nombre.errors }" />
                        <div *ngIf=" control.nombre.errors" class="invalid-feedback">
                            <div *ngIf="control.nombre.errors.required">El nombre es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edad">edad</label>
                        <input type="number" name="edad" formControlName="edad" 
                            class="form-control" [ngClass]="{'is-invalid':control.edad.errors}" />

                        <div *ngIf="control.edad.errors" class="invalid-feedback">
                            <div *ngIf="control.edad.errors.required">La edad es requerida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Sexo</label>
                        <input type="text" formControlName="sexo" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.sexo.errors }" />
                        <div *ngIf=" control.sexo.errors" class="invalid-feedback">
                            <div *ngIf="control.sexo.errors.required">El sexo es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" formControlName="direccion" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.direccion.errors }" />
                        <div *ngIf=" control.direccion.errors" class="invalid-feedback">
                            <div *ngIf="control.direccion.errors.required">La direccion es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" formControlName="celular" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.celular.errors }" />
                        <div *ngIf=" control.celular.errors" class="invalid-feedback">
                            <div *ngIf="control.celular.errors.required">El celular es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" formControlName="correo" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.correo.errors }" />
                        <div *ngIf=" control.correo.errors" class="invalid-feedback">
                            <div *ngIf="control.correo.errors.required">El correo es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" formControlName="usuario" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.usuario.errors }" />
                        <div *ngIf=" control.usuario.errors" class="invalid-feedback">
                            <div *ngIf="control.usuario.errors.required">El usuario es requerido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Contraseña:</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid':  control.password.errors }" />
                        <div *ngIf=" control.password.errors" class="invalid-feedback">
                            <div *ngIf="control.password.errors.required">La contraseña es requerida</div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-dark" (click)=" onSubmit()"
                            [disabled]="formGroup.invalid">Registrar</button>
                        <label> - </label>
                        <button class="btn btn-outline-dark" type="reset">Limpiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
