<div>
  <div>
    <div><br>
      <div>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Filtro">
      </div>
    </div><br>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Clientes</h4>
          <p class="card-category">Clientes registrados en el hotel la floresta</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" *ngIf='clientes && clientes.length'>
              <thead>
                <tr>
                  <th class="text-center" scope="col">ID</th>
                  <th class="text-center" scope="col">Nombre </th>
                  <th class="text-center" scope="col">Edad</th>
                  <th class="text-center" scope="col">Sexo</th>
                  <th class="text-center" scope="col">Direccion</th>
                  <th class="text-center" scope="col">Celular</th>
                  <th class="text-center" scope="col">Correo</th>
                  <th class="text-center" scope="col">Usuario</th>
                  <th class="text-center" scope="col">Ver</th>
                  <th class="text-center" scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes|filtroCliente:searchText; index as i">
                  <td class="text-center">{{ cliente.identificacion }} </td>
                  <td class="text-center">{{ cliente.nombre }}</td>
                  <td class="text-center">{{ cliente.edad }}</td>
                  <td class="text-center">{{ cliente.sexo }}</td>
                  <td class="text-center">{{ cliente.direccion }}</td>
                  <td class="text-center">{{ cliente.celular }}</td>
                  <td class="text-center">{{ cliente.correo }}</td>
                  <td class="text-center">{{ cliente.usuario }}</td>
                  <td class="text-center"><i class="material-icons"
                    (click)="openScrollableContent(longContent)" 
                    (click)="consultaId(cliente.identificacion)" >visibility</i></td>

                  <!----------------------------------------------Modal Ver----------------------------------------------->
                  <ng-template #longContent let-modal>
                    <div class="card">
                      <div class="modal-header">
                          <div class="card-header card-header-primary" id="pruebaxd">
                            <h4 class="card-title ">Ver cliente</h4>
                            <p class="card-category">Datos del cliente {{cliente.identificacion}}</p>
                        </div>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="container-1">
                        <form [formGroup]="formGroup">
    
                          <div class="form-group">
                              <label>Identificación</label>
                              <input type="text" formControlName="identificacion" class="form-control" readonly value={{idn}}
                                  [ngClass]="{ 'is-invalid':  control.identificacion.errors }" />
                              <div *ngIf=" control.identificacion.errors" class="invalid-feedback">
                                  <div *ngIf="control.identificacion.errors.required">La Identificación es requerido</div>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label>Nombre</label>
                              <input type="text" formControlName="nombre" class="form-control" value= {{_nombre}}
                                  [ngClass]="{ 'is-invalid':  control.nombre.errors }" />
                              <div *ngIf=" control.nombre.errors" class="invalid-feedback">
                                  <div *ngIf="control.nombre.errors.required">El nombre es requerido</div>
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label for="edad">edad</label>
                              <input type="number" name="edad" formControlName="edad" value={{_edad}}
                                  class="form-control" [ngClass]="{'is-invalid':control.edad.errors}" />
          
                             <div *ngIf="control.edad.errors" class="invalid-feedback">
                             <div *ngIf="control.edad.errors.required">La edad es requerida</div>
                          </div>
                          </div>
          
                          <div class="form-group">
                              <label>Sexo</label>
                              <input type="text" formControlName="sexo" class="form-control" value={{_sexo}}
                                  [ngClass]="{ 'is-invalid':  control.sexo.errors }" />
                              <div *ngIf=" control.sexo.errors" class="invalid-feedback">
                                  <div *ngIf="control.sexo.errors.required">El sexo es requerido</div>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label>Direccion</label>
                              <input type="text" formControlName="direccion" class="form-control" value={{_direccion}}
                                  [ngClass]="{ 'is-invalid':  control.direccion.errors }" />
                              <div *ngIf=" control.direccion.errors" class="invalid-feedback">
                                  <div *ngIf="control.direccion.errors.required">La direccion es requerido</div>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label>Celular</label>
                              <input type="text" formControlName="celular" class="form-control" value={{_celular}}
                                  [ngClass]="{ 'is-invalid':  control.celular.errors }" />
                              <div *ngIf=" control.celular.errors" class="invalid-feedback">
                                  <div *ngIf="control.celular.errors.required">El celular es requerido</div>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label>Correo</label>
                              <input type="text" formControlName="correo" class="form-control" value={{_correo}}
                                  [ngClass]="{ 'is-invalid':  control.correo.errors }" />
                              <div *ngIf=" control.correo.errors" class="invalid-feedback">
                                  <div *ngIf="control.correo.errors.required">El correo es requerido</div>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label>Usuario</label>
                              <input type="text" formControlName="usuario" class="form-control" readonly value={{_usuario}}
                                  [ngClass]="{ 'is-invalid':  control.usuario.errors }" />
                              <div *ngIf=" control.usuario.errors" class="invalid-feedback">
                                  <div *ngIf="control.usuario.errors.required">El usuario es requerido</div>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label>Contraseña:</label>
                              <input type="password" formControlName="password" class="form-control" value={{_password}}
                                  [ngClass]="{ 'is-invalid':  control.password.errors }" />
                              <div *ngIf=" control.password.errors" class="invalid-feedback">
                                  <div *ngIf="control.password.errors.required">La contraseña es requerida</div>
                              </div>
                          </div>
          
                          <div class="text-center">
                              <button class="btn btn-outline-dark" (click)=" openSm(content)"
                                  [disabled]="formGroup.invalid">Actualizar</button>

                                  <!-----------------------este modal es quien confirma la edicion------------------------>
                                  <ng-template #content let-modal>
                                    <div class="card">
                                      <div class="modal-header">
                                          <div class="card-header card-header-primary" id="pruebaxd">
                                            <h4 class="card-title ">Modificar cliente?</h4>
                                        </div>
                                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                    </div>
                                      <div class="modal-body">
                                        <p>seguro que desea modificar a {{idn}}&hellip;</p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" (click)=" onSubmit()" (click)="modal.close('Close click')">Modificar</button>
                                      </div>
                                  </ng-template>
                                  <!-----------------------este modal es quien confirma la edicion------------------------>    
                            </div>
                        </form>
                        </div>
                      </div>
                    </ng-template>
                  <!--------------------------------------------Fin modal ver--------------------------------------------->

                  <td class="text-center"><i class="material-icons" (click)=" openSm(content)">how_to_vote</i></td>

                  <!-----------------------------------Modal confirmación de eliminación---------------------------------->
                  <ng-template #content let-modal>
                    <div class="card">
                      <div class="modal-header">
                          <div class="card-header card-header-primary" id="pruebaxd">
                            <h4 class="card-title ">Eliminar cliente?</h4>
                        </div>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <div class="modal-body">
                      <p>seguro que desea eliminar a {{cliente.identificacion}}&hellip;</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)=" delete(cliente.identificacion)"
                        (click)="modal.close('Close click')">Eliminar</button>
                    </div>
                  </ng-template>
                  <!---------------------------------------------Fin modal------------------------------------------------>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Fin de la tabla-->
  </div>
</div>